.DS_Store

/packagecache/

/abseil-cpp-*/
/argparse-*/
/arpack-ng-*/
/benchmark-*/
/CombBLAS-*/
/dune-common-*/
/dune-istl-*/
/eigen-*/
/expected-*/
/fmt-*/
/ginkgo-*/
/googletest-*/
/hypre-*/
/json-*/
/magic_enum-*/
/or-tools-*/
/pcg-cpp-*/
/preprocessor-boost-*/
/protobuf-*/
/scotch-*/
/SDL2-*/
/SuiteSparse-*/
/superlu-*/
/superlu_dist-*/
/unordered_dense-*/
/XMP-Toolkit-SDK-*/
/xz-*/
/zlib-*/
